<p>Add Instance Page</p>
<button
    nz-button
    nzType="primary"
    (click)="addInstance()"
    [disabled]="!(isFormValid$ | async)"
    [nzLoading]="isLoading$ | async">
    Add Instance
</button>

<button nz-button nzType="link" routerLink="/receipts">Back</button>


<!-- Форма заполнения экземпляров книг -->
<form nz-form class="instance-form" [formGroup]="useForm" (ngSubmit)="submitForm()">

    <nz-form-item>
        <nz-form-label [nzSm]="11" [nzXs]="24" nzRequired nzFor="receiptName">Receipt Name:</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Receipt Name!">
            <input  
                nz-input nzSize="default" 
                placeholder="enter Receipt Name" 
                type="text" 
                class="form-control" 
                id="receiptName" 
                formControlName="receiptName" 
                
                />
        </nz-form-control>
        
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="13" [nzXs]="24" nzFor="info" nzRequired>All info about book:</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Please input info about book!">
            <input 
                nz-input 
                nzSize="default" 
                placeholder="enter info about book" 
                type="text" 
                id="info" 
                formControlName="info" 
                
            />
        </nz-form-control>
       
        <!--Что - то не хочет давать блокировать инпут-->
        <!--[disabled]="isLoading$ | async"--> 
    </nz-form-item>
</form>

<!-- Таблица экземпляров -->
<div>
    <nz-table [nzData]="instances">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date Created</th>
          </tr>
        </thead>
    
        <tbody>
          <tr *ngFor="let instance of instances">
            <td>{{instance.receiptName}}</td>
            <td>{{instance.info}}</td>
          </tr>
        </tbody>
    </nz-table>
</div>


<!-- Тестик реактивной формы -->
<div>{{useForm.value | json}}</div>