<!--Отображаем кнопочки загрузки, если режим редактирования-->
<!-- [nzBeforeUpload]="beforeUpload" -->
<nz-upload
  nzAction="https://localhost:7155/file/save/store"
  [(nzFileList)]="fileList"
  [nzBeforeUpload]="beforeUpload"
  (nzChange)="handleChange($event)"
  >
  <button nz-button>
    <span nz-icon nzType="upload"></span>
    Click to Upload
  </button>
</nz-upload>

<!--Кнопка, которая запускает запрос к серверу на загрузку файлов на сервер-->
<!-- <button
    nz-button
    [nzType]="'primary'"
    [nzLoading]="uploading$ | async"
    (click)=" handleUpload()"
    [disabled]="fileList.length === 0"
    style="margin-top: 16px"
  >
    Start Upload
  </button> -->