<p>file-work works!</p>

<!-- [nzPreview]="handlePreview" -->
  <nz-upload
  class="avatar-uploader"
  nzAction="https://localhost:7155/file/save/store"
  nzListType="picture-card"
  [nzFileList]="fileList"
  [nzShowButton]="fileList.length < 8"
  (nzChange)="handleChange2($event)">

  <ng-container *ngIf="!avatarUrl">
    <span class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></span>
    <div class="ant-upload-text">Upload</div>
  </ng-container>
  <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
</nz-upload>

<!--Вторая кнопочка загрузки-->
<nz-upload
      nzAction="https://localhost:7155/file/save/store"
      [nzHeaders]="{ authorization: 'authorization-text' }"
      (nzChange)="handleChange($event)"
    >
      <button nz-button>
        <span nz-icon nzType="upload"></span>
        Click to Upload
      </button>
    </nz-upload>