
<nz-page-header class="site-page-header" nzTitle="Поступление" nzSubtitle="{{receiptName$ | async}}">
 
</nz-page-header>


<!--Карточка поступлений, которая состоит из двух табов -->
  <div>
    <button 
    nz-button 
    nzType="link" 
    routerLink="/receipts"
    [disabled]="isLoading || isEditMode">
    Назад</button>

    <button
      *ngIf="!isEditMode"
      nz-button
      nzType="primary"
      (click)="editModeReceipt()"
      >
        Редактировать
    </button>

    <button 
      *ngIf="!isEditMode"
      nz-button 
      nzType="primary" 
      nzDanger>
      Удалить
    </button>

    <button
      *ngIf="isEditMode"
      nz-button 
      nzType="primary"
      [disabled]="!(isFormValid$ | async) || (isWorkStatusOfActiveInstanceIsEdit$ | async)"
      (click)="saveChanges()"
      [nzLoading]="isLoading">
      Сохранить изменения
    </button>

    <button 
      *ngIf="isEditMode"
      nz-button 
      nzType="primary" 
      nzDanger
      (click)="cancelChanges.open()"
      [disabled]="isLoading || (isWorkStatusOfActiveInstanceIsEdit$ | async)">
      Отменить изменения
    </button>
    
  
    <div>
      <nz-tabset>
        <nz-tab nzTitle="Сведения">
         <!--Информация о поступлении-->

          <!--Просмотр-->
          <p *ngIf="!isEditMode"> Название: {{receiptName$ | async}}</p>
          <p *ngIf="!isEditMode"> Дата создания: {{receiptCreatedDate$ | async | date:'medium'}}</p>

          <!--Редактиирование-->
         <form 
          *ngIf="isEditMode" 
          [formGroup]="receiptForm" 
          nz-form
         >

          <!--Наименование-->
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Name">Название</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Название невалидно!">

                <input
                  nz-input 
                  type="text" 
                  id="Name" 
                  placeholder="введите название"
                  formControlName="Name" 
                  />

              </nz-form-control>
          </nz-form-item>

          <!--Дата создания-->
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="CreatedDate">Дата создания</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Пожалуйста введите дату создания!">

                <input 
                  placeholder="введите дату создания"
                  nz-input
                  type="datetime-local"
                  nzSize="default" 
                  id="CreatedDate" 
                  formControlName="CreatedDate" 
                />

              </nz-form-control>
          </nz-form-item>
        </form>
        </nz-tab>

        <nz-tab nzTitle="Издания">
          <!--Добавить издание-->
          <button 
            nz-button 
            nzType="primary"
            [disabled]="(!isEditMode || isLoading) || (isWorkStatusOfActiveInstanceIsEdit$ | async)"
            (click)="addRowInstance()"
            >
            Добавить издание
          </button>

           <!--Информация о книгах в режиме просмотра-->
           <nz-table 
            #dynamicInstanceTable
            nzShowPagination
            nzShowSizeChanger
            [nzData]="(instances$ | async) ?? []"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            [nzPageSizeOptions]="[5, 10, 100]"
            [nzBordered]="true">
            
            <thead>
              <tr>
                <th>Номер</th>
                <th
                [nzSortOrder]="listOfColumns[0].sortOrder"
                [nzSortFn]="listOfColumns[0].sortFn"
                [nzSortDirections]="listOfColumns[0].sortDirections">
                Информация об издании
              </th>
                <th>Режим работы</th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let instance of dynamicInstanceTable.data; index as i">
               
                <td>{{i}}</td>

                 <!--Ячейка таблицы-->
                <td *ngIf="instance.id != (activeId$ | async)"> {{instance.info}} </td>

                <!--Форма-->
                <td 
                *ngIf="instance.id == (activeId$ | async)">
                  <form [formGroup]="instanceForm" nz-form>
                    <nz-form-item>
                      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Пожалуйста введите информацию!">
                        <input
                          nz-input 
                          type="text" 
                          id="Info"
                          placeholder="введите информацию"
                          formControlName="Info" 
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </td>
                
                <td>
                  <!--Режим редактирования (карандашик)-->
                  <button
                    nz-button
                    nzType="link"
                    (click)="editMode(instance.id)"
                    [disabled]="isLoading || (isWorkStatusOfActiveInstanceIsEdit$ | async) || !isEditMode">
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                  </button>

                  <!--Сохранить изменения (галочка)-->
                  <button 
                    *ngIf="isEditMode && instance.id == (activeId$ | async)" 
                    nz-button 
                    nzType="link" 
                    (click)="saveChangesInstance(instance.id)"
                    [disabled]="!(isInstanceFormValid$ | async) || isLoading">
                    <span nz-icon nzType="check" nzTheme="outline"></span>
                  </button>

                  <!--Отменить изменения-->
                  <button 
                    *ngIf="isEditMode && instance.id == (activeId$ | async)" 
                    nz-button
                    nzType="link"
                    [disabled]="isLoading"
                    (click)="stopChangesInstance(instance.id)">
                    <span nz-icon nzType="close" nzTheme="outline"></span>
                  </button>

                  <!--Удалить издание-->
                  <button 
                    *ngIf="instance.id != undefined && instance.id != (activeId$ | async)"
                    nz-button 
                    nzType="link"
                    (click)="instanceDelModal.open()"
                    [disabled]="isLoading || (isWorkStatusOfActiveInstanceIsEdit$ | async) || !isEditMode">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                  </button>
                </td>

                <!--Модальное окно для изданий-->
                <ngx-smart-modal #instanceDelModal identifier="instanceDelModal">
                  <p>Вы уверенны что хотите удалить издание? {{instance.info}}</p>
                  <button nz-button
                    nzType="primary" nzDanger (click)="deleteInstance(instance.id)">
                     Да
                  </button>
                  <button nz-button
                    nzType="link" (click)="instanceDelModal.close()">
                    Закрыть
                  </button>
                </ngx-smart-modal>

              </tr>
            </tbody>
          </nz-table>
        </nz-tab>

        <nz-tab nzTitle="Файлы">
         
        </nz-tab>

        <nz-tab nzTitle="История">
        </nz-tab>


      </nz-tabset>
    </div>
  </div>

<!--Модальное окно для отмены действий-->
<ngx-smart-modal #cancelChanges identifier="cancelChanges">
  <p>Вы уверенны что хотите отменить все изменения?</p>
  <button nz-button
    nzType="primary" nzDanger (click)="cancleChanges()">
     Да
  </button>
  <button nz-button
    nzType="link" (click)="cancelChanges.close()">
    Закрыть
  </button>
</ngx-smart-modal>