<nz-page-header class="site-page-header" nzTitle="Поступление" nzSubtitle="{{(receipt$| async)?.name}}">
 
</nz-page-header>


<!--Карточка поступлений, которая состоит из двух табов -->
  <div>
    <button 
    nz-button 
    nzType="link" 
    routerLink="/receipts"
    [disabled]="isLoading || (isEditMode$ | async)">
    Назад</button>

    <button
      *ngIf="!(isEditMode$ | async)"
      nz-button
      nzType="primary"
      (click)="editModeReceipt()">
    Редактировать
    </button>

    <button 
      *ngIf="!(isEditMode$ | async)"
      nz-button 
      nzType="primary" 
      nzDanger>
      Удалить
    </button>

    <button
      *ngIf="(isEditMode$ | async)"
      nz-button 
      nzType="primary"
      [disabled]="!(isFormValid$ | async) || 
                  (isWorkStatusOfActiveInstanceIsEdit$ | async) || 
                  (isWorkStatucOfActiveFileIsEdit$ | async)"
      (click)="saveChanges()"
      [nzLoading]="isLoading">
      Сохранить изменения
    </button>

    <button 
      *ngIf="(isEditMode$ | async)"
      nz-button 
      nzType="primary" 
      nzDanger
      (click)="cancelChanges.open()"
      [disabled]="isLoading || 
                  (isWorkStatusOfActiveInstanceIsEdit$ | async) || 
                  (isWorkStatucOfActiveFileIsEdit$ | async)">
      Отменить изменения
    </button>
    
  
    <div>
      <nz-tabset>
        <nz-tab nzTitle="Сведения">
         <!--Информация о поступлении-->

          <!--Просмотр-->
          <p *ngIf="!(isEditMode$ | async)"> Название: {{(receipt$ | async)?.name}}</p>
          <p *ngIf="!(isEditMode$ | async)"> Дата создания: {{(receipt$ | async)?.createdDate}}</p>

          <!--Редактиирование-->
         <form 
          *ngIf="(isEditMode$ | async)" 
          [formGroup]="receiptForm" 
          nz-form
         >

          <!--Наименование-->
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Name">Название</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Название невалидно!">

                <input
                  nz-input 
                  type="text" 
                  id="Name" 
                  placeholder="введите название"
                  formControlName="Name" 
                  />

              </nz-form-control>
          </nz-form-item>

          <!--Дата создания-->
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="CreatedDate">Дата создания</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Пожалуйста введите дату создания!">

                <input 
                  placeholder="введите дату создания"
                  nz-input
                  type="datetime-local"
                  nzSize="default" 
                  id="CreatedDate" 
                  formControlName="CreatedDate" 
                />

              </nz-form-control>
          </nz-form-item>
        </form>
        </nz-tab>

        <nz-tab nzTitle="Издания">
          <!--Добавить издание-->
          <button 
            nz-button 
            nzType="primary"
            [disabled]="!(isEditMode$ | async) || 
                        isLoading || 
                        (isWorkStatusOfActiveInstanceIsEdit$ | async)"
            (click)="addRowInstance()"
            >
            Добавить издание
          </button>

           <!--Информация о изданиях в режиме просмотра-->
           <nz-table 
            #dynamicInstanceTable
            nzShowPagination
            nzShowSizeChanger
            [nzData]="(instances$ | async) ?? []"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            [nzPageSizeOptions]="[5, 10, 100]"
            [nzBordered]="true">
            
            <thead>
              <tr>
                <th>Номер</th>
                <th
                [nzSortOrder]="listOfColumns[0].sortOrder"
                [nzSortFn]="listOfColumns[0].sortFn"
                [nzSortDirections]="listOfColumns[0].sortDirections">
                Информация об издании
              </th>
                <th>Режим работы</th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let instance of dynamicInstanceTable.data; index as i">
               
                <td>{{i}}</td>

                 <!--Ячейка таблицы-->
                <td *ngIf="instance.id != (activeId$ | async)"> {{instance.info}} </td>

                <!--Форма-->
                <td 
                *ngIf="instance.id == (activeId$ | async)">
                  <form [formGroup]="instanceForm" nz-form>
                    <nz-form-item>
                      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Пожалуйста введите информацию!">
                        <input
                          nz-input 
                          type="text" 
                          id="Info"
                          placeholder="введите информацию"
                          formControlName="Info" 
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </td>
                
                <td>
                  <!--Режим редактирования (карандашик)-->
                  <button
                    nz-button
                    nzType="link"
                    (click)="editMode(instance.id)"
                    [disabled]="isLoading || 
                                (isWorkStatusOfActiveInstanceIsEdit$ | async) || 
                                !(isEditMode$ | async) ||
                                (isWorkStatucOfActiveFileIsEdit$ | async)">
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                  </button>

                  <!--Сохранить изменения (галочка)-->
                  <button 
                    *ngIf="(isEditMode$ | async) && instance.id == (activeId$ | async)" 
                    nz-button 
                    nzType="link" 
                    (click)="saveChangesInstance(instance.id)"
                    [disabled]="!(isInstanceFormValid$ | async) || isLoading">
                    <span nz-icon nzType="check" nzTheme="outline"></span>
                  </button>

                  <!--Отменить изменения-->
                  <button 
                    *ngIf="(isEditMode$ | async) && instance.id == (activeId$ | async)" 
                    nz-button
                    nzType="link"
                    [disabled]="isLoading"
                    (click)="stopChangesInstance(instance.id)">
                    <span nz-icon nzType="close" nzTheme="outline"></span>
                  </button>

                  <!--Удалить издание-->
                  <button 
                    *ngIf="instance.id != undefined && instance.id != (activeId$ | async)"
                    nz-button 
                    nzType="link"
                    (click)="instanceDelModal.open()"
                    [disabled]="isLoading || 
                                (isWorkStatusOfActiveInstanceIsEdit$ | async) || 
                                !(isEditMode$ | async) ||
                                (isWorkStatucOfActiveFileIsEdit$ | async)">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                  </button>
                </td>

                <!--Модальное окно для изданий-->
                <ngx-smart-modal #instanceDelModal identifier="instanceDelModal">
                  <p>Вы уверенны что хотите удалить издание? {{instance.info}}</p>
                  <button nz-button
                    nzType="primary" nzDanger (click)="deleteInstance(instance.id)">
                     Да
                  </button>
                  <button nz-button
                    nzType="link" (click)="instanceDelModal.close()">
                    Закрыть
                  </button>
                </ngx-smart-modal>

              </tr>
            </tbody>
          </nz-table>
        </nz-tab>

        <nz-tab nzTitle="Файлы">
          <!--Кнопка загрузки файда-->
          <div *ngIf="(isEditMode$ | async)">
            <app-file-work (onChanged)="onChanged($event)">
              
            </app-file-work>
          </div>

          <!--Таблица с файлами-->
            <nz-table 
            #FilesTable
            nzShowPagination
            nzShowSizeChanger
            [nzData]="(files$ | async) ?? []"
            [nzPageSize]="5"
            [nzPageSizeOptions]="[5, 10, 100]"
            [nzBordered]="true">

            <thead>
              <tr>
                <th>Название</th>
                <th>Дата создания</th>
                <th>Размер файла</th>
                <th>Файл</th>
                <th>Режим работы</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let file of FilesTable.data">
               
                <!--Название файла-->
                <td *ngIf="file.id != (activeId$ | async)">{{file.name}}</td>
                <td *ngIf="file.id == (activeId$ | async)">
                  <form [formGroup]="fileForm" nz-form>
                    <nz-form-item>
                      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Пожалуйста введите наименование!">
                        <input
                          nz-input 
                          type="text"
                          placeholder="введите название"
                          formControlName="Name" 
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </td>

                 <!--Дата создания файла-->
                <td *ngIf="file.id != (activeId$ | async)"> {{file.createdDate}} </td>
                <td *ngIf="file.id == (activeId$ | async)">
                  <form [formGroup]="fileForm" nz-form>
                    <nz-form-item>
                      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Пожалуйста введите дату!">
                        <input
                          nz-input 
                          type="datetime-local"
                          placeholder="введите дату"
                          formControlName="CreatedDate" 
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </td>

                <!--Размер файла-->
                <td>{{file.size}}</td>

                <!--Ссылка на скачивание файла-->
                <!-- href="https://localhost:7155/file/download?id=2715a202-1ebc-48e8-82fb-bd7e55956292" -->
                <td *ngIf="file.id != (activeId$ | async)" ><a href="https:/localhost:7155/api/FileApi/Download?id={{file.id}}"> {{file.fileName}} </a></td>
                <!-- <td *ngIf="file.id != (activeId$ | async)" ><a (click)="download(file.id)"> {{file.fileName}} </a></td> -->
                <td *ngIf="file.id == (activeId$ | async)">{{file.fileName}}</td>

                <!--Режим работы (кнопочки)-->
                <td>
                  <!--Режим редактирования (карандашик)-->
                  <button
                    nz-button
                    nzType="link"
                    (click)="editModeFile(file.id)"
                    [disabled]="isLoading || 
                                (isWorkStatucOfActiveFileIsEdit$ | async) || 
                                !(isEditMode$ | async) ||
                                (isWorkStatusOfActiveInstanceIsEdit$ | async)">
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                  </button>

                  <!--Сохранить изменения (галочка)-->
                  <button 
                    *ngIf="(isEditMode$ | async) && file.id == (activeId$ | async)" 
                    nz-button 
                    nzType="link" 
                    (click)="saveChangesFile(file.id)"
                    [disabled]="!(isFileFormValid$ | async) || isLoading">
                    <span nz-icon nzType="check" nzTheme="outline"></span>
                  </button>

                  <!--Отменить изменения-->
                  <button 
                    *ngIf="(isEditMode$ | async) && file.id == (activeId$ | async)" 
                    nz-button
                    nzType="link"
                    [disabled]="isLoading"
                    (click)="stopChangesFile(file.id)">
                    <span nz-icon nzType="close" nzTheme="outline"></span>
                  </button>

                  <!--Удалить файл-->
                  <button 
                    *ngIf="file.id != (activeId$ | async)"
                    nz-button 
                    nzType="link"
                    (click)="fileDelModal.open()"
                    [disabled]="isLoading || 
                                (isWorkStatucOfActiveFileIsEdit$ | async) || 
                                !(isEditMode$ | async) ||
                                (isWorkStatusOfActiveInstanceIsEdit$ | async)">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                  </button>
                </td>

                <!--Модальное окно для изданий-->
                <ngx-smart-modal #fileDelModal identifier="fileDelModal">
                  <p>Вы уверенны что хотите удалить файл? {{file.name}}</p>
                  <button nz-button
                    nzType="primary" nzDanger (click)="deleteFile(file.id)">
                     Да
                  </button>
                  <button nz-button
                    nzType="link" (click)="fileDelModal.close()">
                    Закрыть
                  </button>
                </ngx-smart-modal>
              </tr>
            </tbody>
          </nz-table>
        </nz-tab>

        <nz-tab nzTitle="История">
        </nz-tab>


      </nz-tabset>
    </div>
  </div>

  <div>{{activeFiles$ | async | json}}</div>
  <div>{{activeInstance$ | async | json}}</div>
  <div>{{activeId$ | async | json}}</div>
<!--Модальное окно для отмены действий-->
<ngx-smart-modal #cancelChanges identifier="cancelChanges">
  <p>Вы уверенны что хотите отменить все изменения?</p>
  <button nz-button
    nzType="primary" nzDanger (click)="cancleChanges()">
     Да
  </button>
  <button nz-button
    nzType="link" (click)="cancelChanges.close()">
    Закрыть
  </button>
</ngx-smart-modal>
