<p>Карточка поступлений</p>

<!--Карточка поступлений, которая состоит из двух табов -->
  <div>
    <button nz-button nzType="primary" >Save</button>
    <button nz-button nzType="primary" >Add receipt</button>
    <button nz-button nzType="link" routerLink="/receipts">Back</button>
  
    <div>
      
      <nz-tabset>
        <nz-tab nzTitle="Receipt">
         <!--Информация о поступлении в режиме просмотра-->
         <div *ngIf="workStatus$.value == false">

          <table>
            <tr>
              <th>Name</th>
              <th>Date Created</th>
            </tr>

            <tr>
              <td>{{receipt.name}}</td>
              <td>{{receipt.createdDate}}</td>
            </tr>

          </table>
          <!-- <nz-table [nzData]="receipts">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date Created</th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let receipt of receipts">
          
                <td> {{receipt.name}} </td>
                <td>{{receipt.createdDate}}</td>
              </tr>
            </tbody>
  
          </nz-table> -->
         </div>
         
        <!--Форма редактирования поступления-->
        <div *ngIf="workStatus$.value == true">
          <form nz-form class="receipt-form" [formGroup]="receiptForm" (ngSubmit)="submitReceiptForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="5" [nzXs]="10" nzRequired nzFor="Name">Name:</nz-form-label>
                <nz-form-control [nzSm]="15" [nzXs]="20" nzErrorTip="The input is not valid Name!">
                    <input  
                        nz-input 
                        nzSize="default" 
                        placeholder="enter Name"
                        type="text" 
                        class="form-control" 
                        id="Name" 
                        formControlName="Name" 
                        />
                </nz-form-control>
            </nz-form-item>
        
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="CreatedDate" nzRequired>Date created:</nz-form-label>
                <nz-form-control [nzSm]="17" [nzXs]="14" nzErrorTip="Please input created date!">
                    <input 
                        nz-input 
                        nzSize="default" 
                        placeholder="enter created date"
                        id="CreatedDate" 
                        formControlName="CreatedDate" 
                    />
                </nz-form-control>
            </nz-form-item>
        </form>
        </div>

        <button nz-button nzType="link" (click)="viewMode()" [disabled]="!(workStatus$ | async)">Режим просмотра</button>
        <button nz-button nzType="link" (click)="editMode()" [disabled]="!!(workStatus$ | async)">Режим редактирования</button>

        </nz-tab>

        <nz-tab nzTitle="Instances of receipt">
           <!--Информация о книгах в режиме просмотра-->
           <nz-table [nzData]="instances">
            <thead>
              <tr>
                <th>index</th>
                <th>Info about book</th>
                <th>Режим работы</th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let instance of instances; index as i">

               
                <td>{{i}}</td>

                 <!--Тут будем вызывать форму или ячейку таблицы-->
                <td *ngIf="!(workStatus$ | async)"> {{instance.info}} </td>
                <td *ngIf="(workStatus$ | async)">
                  <input  
                    nz-input
                    [ngModel]="instance.info"
                    nzSize="default" 
                    placeholder="enter info"
                    type="text" 
                    id="Info" 
                  />
                </td>

                
                <td>

                  <button
                    nz-button
                    nzType="link"
                    (click)="viewMode()"
                    [disabled]="!(workStatus$ | async)"
                    >
                    <span nz-icon nzType="info" nzTheme="outline"></span>
                  </button>
                  
                  <button
                    nz-button
                    nzType="link"
                    (click)="editMode()"
                    [disabled]="!!(workStatus$ | async)"
                    >
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                  </button>

                </td>

              </tr>
            </tbody>
          </nz-table>
           <!-- <div *ngIf="workStatus$.value == false">
            
           </div> -->
           
           <!--Форма редактирования книг-->
           <!-- <div *ngIf="workStatus$.value == true">
            <form *ngFor="let form_n of form; index as i;" nz-form [formGroup]="form_n">
              <nz-form-item>
                <nz-form-label [nzSm]="11" [nzXs]="24" nzRequired nzFor="Info">Info:</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Info!">
                  <input  
                      nz-input

                      nzSize="default" 
                      placeholder="enter info"
                      type="text" 
                      class="form-control" 
                      id="Info" 
                      formControlName="Info" 
                      />
              </nz-form-control>
              </nz-form-item>
            </form>
           </div> -->
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
