<div>
  <!--Тут еще сверху нужно прописать путь как пользователь пришел к этой странице-->
  <nz-page-header nzTitle="Поступления"></nz-page-header>
  <button nz-button nzType="link" routerLink="/">Назад</button>
  <!--Будет открываться окно с формой поступления -->
  <button nz-button nzType="primary" routerLink="/receipts/receipt/add">Добавить поступление</button>

  <!-- Табличка поступлений ng-zorro -->
    <div>
      <nz-table [nzData]="(receipts$ | async) ?? []">
        <thead>
          <tr>
            <th>Название</th>
            <th>Дата создания</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let receipt of receipts$ | async">
            <td> <a (click)="goTo(receipt.id)"> {{receipt.name}} </a></td>
            <td>{{receipt.createdDate | date:'medium'}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
</div>
