<nz-page-header class="site-page-header" nzTitle="Новое поступление">
</nz-page-header>


<!--Карточка поступлений -->
  <div>
    <button 
    nz-button 
    nzType="link" 
    routerLink="/receipts">
    Назад</button>

    <button
      nz-button
      nzType="primary"
      >
        Провести
    </button>

    <button 
      nz-button 
      nzType="primary" >
      Сохранить
    </button>
    
    <div>
      <nz-tabset>
        <nz-tab nzTitle="Сведения">

          <!--Форма поступления-->
         <form [formGroup]="receiptForm" nz-form>

          <!--Наименование-->
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Name">Название</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Name!">

                <input
                  nz-input 
                  type="text" 
                  id="Name" 
                  placeholder="enter name"
                  formControlName="Name" 
                  />

              </nz-form-control>
          </nz-form-item>

          <!--Дата создания-->
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="CreatedDate">Дата создания</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input created date!">

                <input 
                  placeholder="enter created date"
                  nz-input
                  type="datetime-local"
                  nzSize="default" 
                  id="CreatedDate" 
                  formControlName="CreatedDate" 
                />

              </nz-form-control>
          </nz-form-item>
        </form>

        <div>{{receiptForm.value | json}}</div>

        </nz-tab>

        <nz-tab nzTitle="Издания">

          <!--Добавить издание-->
          <button
            nz-button 
            nzType="primary"
            [disabled]="isEditMode"
            (click)="addRowInstance()"
            >
            Добавить издание
          </button>

           <!--Информация о книгах в режиме просмотра-->
           <nz-table [nzData]="(tableOfInstances$ | async)?? []">
            <thead>
              <tr>
                <th>Номер</th>
                <th>Информация об издании</th>
                <th>Режим работы</th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let instance of tableOfInstances$ | async; index as i">
               
                <td>{{i}}</td>

                 <!--Ячейка таблицы-->
                <td *ngIf="instance.id != (activeId$ | async) || !isEditMode"> {{instance.info}} </td>

                <!--Форма-->
                <td *ngIf="(instance.id == (activeId$ | async) && isEditMode) || instance.info == null">
                  <form [formGroup]="instanceForm" nz-form>
                    <nz-form-item>
                      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input info!">
                        <input
                          nz-input 
                          type="text" 
                          id="Info"
                          placeholder="enter info"
                          formControlName="Info" 
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </td>

                <td>
                    <!--Режим редактирования-->
                    <button
                      nz-button
                      nzType="link">
                      <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
  
                    <!--Сохранить изменения-->
                    <button 
                    nz-button 
                    nzType="link" >
                      <span nz-icon nzType="check" nzTheme="outline"></span>
                    </button>
  
                    <!--Отменить изменения-->
                    <button 
                    nz-button 
                    nzType="link">
                      <span nz-icon nzType="close" nzTheme="outline"></span>
                    </button>
  
                    <!--Удалить издание-->
                    <button 
                      nz-button 
                      nzType="link">
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                  </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-tab>

        <nz-tab nzTitle="Файлы">
        </nz-tab>

        <nz-tab nzTitle="История">
        </nz-tab>


      </nz-tabset>
    </div>
  </div>

