<nz-page-header class="site-page-header" nzTitle="Новое поступление">
</nz-page-header>


<!--Карточка поступлений -->
  <div>
    <button 
    nz-button 
    nzType="link" 
    routerLink="/receipts">
    Назад</button>

    <button 
      nz-button 
      nzType="primary" 
      [disabled]="!(isFormValid$ | async)"
      [nzLoading]="isLoading"
      (click)="saveReceipt()">
      Сохранить
    </button>
      
    <button
      nz-button 
      nzType="primary"
      nzDanger
      [disabled] = "isLoading"
      (click)="cancelAdd.open()">
      Отменить
    </button>
    
    <div>
      <nz-tabset>
        <nz-tab nzTitle="Сведения">

          <!--Форма поступления-->
         <form [formGroup]="receiptForm" nz-form>

          <!--Наименование-->
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Name">Название</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Название невалидно!">

                <input
                  nz-input 
                  type="text" 
                  id="Name" 
                  placeholder="введите название"
                  formControlName="Name" 
                  />

              </nz-form-control>
          </nz-form-item>

          <!--Дата создания-->
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="CreatedDate">Дата создания</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Пожалуйста введите дату создания!">

                <input 
                  placeholder="введите дату создания"
                  nz-input
                  type="datetime-local"
                  nzSize="default" 
                  id="CreatedDate" 
                  formControlName="CreatedDate" 
                />

              </nz-form-control>
          </nz-form-item>
        </form>
        </nz-tab>

        <nz-tab nzTitle="Издания">

          <!--Добавить издание-->
          <button
            nz-button 
            nzType="primary"
            [disabled] = "isLoading || (isWorkStatusOfActiveInstanceIsEdit$ | async)"
            (click)="addRowInstance()"
            >
            Добавить издание
          </button>

           <!--Информация о книгах в режиме просмотра-->
           <nz-table 
           #dynamicInstanceTable
           nzShowSizeChanger
           nzShowPagination
           [nzData]="(instances$ | async) ?? []"
           [nzPageSize]="pageSize"
           [nzPageIndex]="pageIndex"
           [nzPageSizeOptions]="[5, 10, 100]"
           [nzBordered]="true">
            <thead>
              <tr>
                <th>Номер</th>
                <th
                [nzSortOrder]="listOfColumns[0].sortOrder"
                [nzSortFn]="listOfColumns[0].sortFn"
                [nzSortDirections]="listOfColumns[0].sortDirections">
                Информация об издании
              </th>
              
                <th>Режим работы</th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let instance of dynamicInstanceTable.data; index as i">
               
                <td>{{i}}</td>

                 <!--Ячейка таблицы-->
                <td *ngIf="instance.id != (activeId$ | async)"> {{instance.info}} </td>

                <!--Форма-->
                <td *ngIf="instance.id == (activeId$ | async)">
                  <form [formGroup]="instanceForm" nz-form>
                    <nz-form-item>
                      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Пожалуйста введите информацию!">
                        <input
                          nz-input 
                          type="text" 
                          id="Info"
                          placeholder="введите информацию"
                          formControlName="Info" 
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </td>

                <td>
                     <!--Режим редактирования (карандашик)-->
                  <button
                  nz-button
                  nzType="link"
                  (click)="editMode(instance.id)"
                  [disabled]="isLoading || (isWorkStatusOfActiveInstanceIsEdit$ | async)">
                  <span nz-icon nzType="edit" nzTheme="outline"></span>
                </button>

                <!--Сохранить изменения (галочка)-->
                <button 
                  *ngIf="instance.id == (activeId$ | async)" 
                  nz-button 
                  nzType="link" 
                  (click)="saveChangesInstance(instance.id)"
                  [disabled]="!(isInstanceFormValid$ | async) || isLoading">
                  <span nz-icon nzType="check" nzTheme="outline"></span>
                </button>

                <!--Отменить изменения-->
                <button 
                  *ngIf="instance.id == (activeId$ | async)" 
                  nz-button
                  nzType="link"
                  [disabled]="isLoading"
                  (click)="stopChangesInstance(instance.id)">
                  <span nz-icon nzType="close" nzTheme="outline"></span>
                </button>

                <!--Удалить издание-->
                <button 
                  *ngIf="instance.id != (activeId$ | async)"
                  nz-button 
                  nzType="link"
                  (click)="instanceDelModal.open()"
                  [disabled]="isLoading">
                  <span nz-icon nzType="delete" nzTheme="outline"></span>
                </button>

                 <!--Модальное окно для изданий-->
                 <ngx-smart-modal #instanceDelModal identifier="instanceDelModal">
                  <p>Вы уверенны что хотите удалить издание? {{instance.info}}</p>
                  <button nz-button
                    nzType="primary" nzDanger (click)="deleteInstance(instance.id)">
                     Да
                  </button>
                  <button nz-button
                    nzType="link" (click)="instanceDelModal.close()">
                    Закрыть
                  </button>
                </ngx-smart-modal>

              </td>
              </tr>
            </tbody>
          </nz-table>
          <div>{{instanceForm.value | json}}</div>
        </nz-tab>

        <nz-tab nzTitle="Файлы">
        </nz-tab>

        <nz-tab nzTitle="История">
        </nz-tab>

      </nz-tabset>
    </div>
  </div>
  
  <!--Модальное окно для отмены действий-->
<ngx-smart-modal #cancelAdd identifier="cancelAdd">
  <p>Вы уверенны что хотите отменить все изменения?</p>
  <button nz-button
    nzType="primary" nzDanger (click)="CancelAddReceipt()">
     Да
  </button>
  <button nz-button
    nzType="link" (click)="cancelAdd.close()">
    Закрыть
  </button>
</ngx-smart-modal>

